# Student service local Docker settings.
LOG_FILE=/app/logs/student.log
ADMIN_SERVICE_HOST=admin
ADMIN_SERVICE_PORT=5000
DRIVER_SERVICE_HOST=driver
DRIVER_SERVICE_PORT=5001
API_URL=http://student:5002
REGIST_API=http://student:5002
RATELIMIT_STORAGE_URL=redis://redis:6379/0
