table {
  width: 80%;
}
.name {
  color: #000b69;
  font-size: 25px;
  margin-bottom: 0px;
}
.name.top{
  margin-top: 4px;
}
.name.end {
  margin-bottom: 20px;
}

.nokori5{
  color: red;
}

.nokori10{
  color: orange;
}


