{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bus-select.css') }}">
{% endblock %}

{% block content %}
<div class="main">
    <div class="bus-schedule">
        <h3>バスの便</h3>
        <ul>
            {% for bus in buses %}
	    <li><a href="/yoyaku/bus/{{ bus['id'] }}"><button>{{ bus["departure_time"] }}発{{ bus["busid"]}}号車</button></a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="datetime" id="datetime">
    <p id="current-date"></p>
    <p id="current-time"></p>
</div>
{% endblock %}

{% block scripts %}
<script>
    function updateDateTime() {
        const now = new Date();
        const date = now.toLocaleDateString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit' });
        const time = now.toLocaleTimeString('ja-JP', { hour: '2-digit', minute: '2-digit', second: '2-digit' });
        document.getElementById('current-date').textContent = ` ${date}`;
        document.getElementById('current-time').textContent = ` ${time}`;
    }

    setInterval(updateDateTime, 1000); // 1秒ごとに更新
    updateDateTime(); // 初回実行
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}